USE [msdb];


GO
/****** Object:  Job [Refresh ESL Data]    Script Date: 8/25/2026 11:23:53 AM ******/
BEGIN TRANSACTION;

DECLARE @ReturnCode AS INT;

SELECT @ReturnCode = 0;

/****** Object:  JobCategory [[Uncategorized (Local)]]    Script Date: 8/25/2026 11:23:53 AM ******/
IF NOT EXISTS (SELECT name
               FROM   msdb.dbo.syscategories
               WHERE  name = N'[Uncategorized (Local)]'
                      AND category_class = 1)
    BEGIN
        EXECUTE @ReturnCode = msdb.dbo.sp_add_category @class = N'JOB', @type = N'LOCAL', @name = N'[Uncategorized (Local)]';
        IF (@@ERROR <> 0
            OR @ReturnCode <> 0)
            GOTO QuitWithRollback;
    END

DECLARE @jobId AS BINARY (16);

EXECUTE @ReturnCode = msdb.dbo.sp_add_job @job_name = N'Refresh ESL Data', @enabled = 1, @notify_level_eventlog = 0, @notify_level_email = 0, @notify_level_netsend = 0, @notify_level_page = 0, @delete_level = 0, @description = N'No description available.', @category_name = N'[Uncategorized (Local)]', @owner_login_name = N'sa', @job_id = @jobId OUTPUT;

IF (@@ERROR <> 0
    OR @ReturnCode <> 0)
    GOTO QuitWithRollback;

/****** Object:  Step [Refresh Data iRetail to ESL]    Script Date: 8/25/2026 11:23:54 AM ******/
EXECUTE @ReturnCode = msdb.dbo.sp_add_jobstep @job_id = @jobId, @step_name = N'Refresh Data iRetail to ESL', @step_id = 1, @cmdexec_success_code = 0, @on_success_action = 1, @on_success_step_id = 0, @on_fail_action = 2, @on_fail_step_id = 0, @retry_attempts = 0, @retry_interval = 0, @os_run_priority = 0, @subsystem = N'TSQL', @command = N'EXEC dbo.RefreshESL_New', @database_name = N'ESL', @flags = 0;

IF (@@ERROR <> 0
    OR @ReturnCode <> 0)
    GOTO QuitWithRollback;

EXECUTE @ReturnCode = msdb.dbo.sp_update_job @job_id = @jobId, @start_step_id = 1;

IF (@@ERROR <> 0
    OR @ReturnCode <> 0)
    GOTO QuitWithRollback;

EXECUTE @ReturnCode = msdb.dbo.sp_add_jobschedule @job_id = @jobId, @name = N'Refresh Schedule', @enabled = 1, @freq_type = 4, @freq_interval = 1, @freq_subday_type = 4, @freq_subday_interval = 30, @freq_relative_interval = 0, @freq_recurrence_factor = 0, @active_start_date = 20240215, @active_end_date = 99991231, @active_start_time = 70000, @active_end_time = 235959, @schedule_uid = N'c511e69c-d576-4c11-97b5-818312e2dbff';

IF (@@ERROR <> 0
    OR @ReturnCode <> 0)
    GOTO QuitWithRollback;

EXECUTE @ReturnCode = msdb.dbo.sp_add_jobserver @job_id = @jobId, @server_name = N'(local)';

IF (@@ERROR <> 0
    OR @ReturnCode <> 0)
    GOTO QuitWithRollback;

COMMIT TRANSACTION;

GOTO EndSave;

QuitWithRollback:

IF (@@TRANCOUNT > 0)
    ROLLBACK;

EndSave: