/*
===============================================================================
PATCH 2.5 — Production ESL Table
Procedure : dbo.RefreshESL_New
Target    : dbo.tb_ESL

Patch 1 retained:
  1) Per-store isolation of #tmpResult and #PROMO_ITEMS.
  2) BSP_PRICE_CATG = '001' for physical-store ESL base price.

Patch 2 adds:
  3) Current-time eligibility.
  4) Weekday eligibility via LOCAL FactCampaign enrichment after remote raw
     extraction. Raw CMP_* remains the operational campaign source.
  5) Explicit PFS exclusion from ESL candidates.
  6) UOM normalization BEFORE candidate selection:
       CLR -> current store's actual selling UOM from #tmpResult.
       non-CLR mismatch -> logged as UOM_RULE_REQUIRED and not auto-converted.
  7) Promotion type/group stored on the SAME candidate row as price/text/time.
  8) One selected candidate state per normalized Item/UOM before writing fields.
  9) Atomic promotion-field update from that selected state.
 10) Unresolved differing candidates are classified/logged without inventing
     a business priority.
 11) Remote extraction no longer performs correlated FactCampaign OUTER APPLY.

IMPORTANT COMPATIBILITY RULE:
  - Patch 2 DOES NOT filter DISC_TEXT by number of "|" fields.
  - 5-field DISC_TEXT continues to flow exactly as campaign text, preserving
    current SP-to-Hop/AIMS comparison behavior during this patch stage.

Conflict behavior:
  - If current tb_ESL promo state exactly matches one currently eligible
    candidate, keep that candidate (stability).
  - Else if all eligible candidates collapse to one identical outbound state,
    select it deterministically.
  - Else preserve current test-table promo state for existing rows and emit a
    PROMO_CONFLICT result for review.
  - If no eligible candidate remains (expired/time/day/PFS), promo state clears.

PATCH 2.5 compatibility/correctness additions:
  - Load regular physical-store price (category 001) before promo selection.
  - Mirror Hop behavior for fixed-price promo > regular price: no promo.
  - Reject zero-effect structured FIXED/PERCENT candidates.
  - PFS cannot be restored through unresolved-conflict preservation.
  - Distinguish economic-state conflicts from display/metadata-only conflicts.
  - Genuine different economic states remain unresolved; no new priority rule.

REVIEW/TEST ONLY. Do not deploy directly to production.
===============================================================================
*/
USE [ESL];


GO
/****** Object:  StoredProcedure [dbo].[RefreshESL_New]    Script Date: 8/25/2026 9:29:16 AM ******/
SET ANSI_NULLS ON;


GO
SET QUOTED_IDENTIFIER ON;


GO
ALTER PROCEDURE [dbo].[RefreshESL_New]
AS
-- @varStoreCode varchar(3)
BEGIN
    SET NOCOUNT ON;
    -- EXECUTE dbo.RefreshESL_New ;
    --DECLARE @varStoreCode varchar(3)--pindah keatas
    --SET @varStoreCode = '075'
    --DECLARE @varStoreCode varchar(3)
    -- Declare variable untuk menyimpan kode store
    DECLARE @StoreList TABLE (
        StoreCode     VARCHAR (3),
        ProcessedFlag BIT         DEFAULT 0);
    -- Insert value kode store
    INSERT  INTO @StoreList (
        StoreCode
    )
    VALUES                 ('075'),
    ('084');
    DECLARE @varStoreCode AS VARCHAR (3);
    DECLARE @varStoreIP AS VARCHAR (20);
    DECLARE @varDB AS VARCHAR (20);
    DECLARE @SQL AS NVARCHAR (MAX);
    -- ========== VALIDATION VARIABLES ==========
    DECLARE @StartTime AS DATETIME = GETDATE();
    DECLARE @tmpCountBefore AS INT;
    DECLARE @tmpCountAfter AS INT;
    DECLARE @storeCountBefore AS INT;
    DECLARE @storeCountAfter AS INT;
    DECLARE @StepStartedAt AS DATETIME;
    DECLARE @RawExtractionSeconds AS INT;
    DECLARE @NormalizationSeconds AS INT;
    DECLARE @IsoWeekday AS TINYINT;
    DECLARE @Today AS DATE;
    PRINT '';
    PRINT '=========================================';
    PRINT 'RefreshESL_New Procedure Started';
    PRINT 'Start Time: ' + CONVERT (VARCHAR (20), @StartTime, 120);
    PRINT '=========================================';
    PRINT '';
    -- Store baseline counts BEFORE execution
    SELECT @tmpCountBefore = COUNT(*)
    FROM   dbo.tb_ESL
    WHERE  STORE_CODE IN ('075', '084');
    PRINT 'BASELINE: Total records in tb_ESL for stores 075 & 084: ' + CAST (@tmpCountBefore AS VARCHAR (10));
    PRINT '';
    CREATE TABLE #tmpResult (
        STORE_CODE          VARCHAR (3)  ,
        ITEM_CODE           VARCHAR (30) ,
        BARCODE             VARCHAR (50) ,
        ITEM_NAME           VARCHAR (250),
        ITEM_SHORTNAME      VARCHAR (250),
        SALES_PRICE         FLOAT        ,
        DISC_PRICE          FLOAT        ,
        DISC_PERCENT        FLOAT        ,
        DISC_TEXT           VARCHAR (100),
        MEMBER_PRICE        FLOAT        ,
        SOH                 FLOAT        ,
        EARLY_EXPIRY_DATE   DATE         ,
        PROD_WEIGHT         FLOAT        ,
        MIN_QTY             FLOAT        ,
        MAX_QTY             FLOAT        ,
        PRODUCT_URL         VARCHAR (500),
        DIVISION            VARCHAR (100),
        DEPARTMENT          VARCHAR (100),
        CLASS               VARCHAR (100),
        SUBCLASS            VARCHAR (100),
        BRAND               VARCHAR (100),
        CLASS_ROTATION      VARCHAR (5)  ,
        NFC_URL             VARCHAR (500),
        CONSIGMENT          VARCHAR (2)  ,
        RETURNABLE          VARCHAR (2)  ,
        EXPIRY_DAYS         FLOAT        ,
        DISPLAY_QTY         FLOAT        ,
        LAST_UPDATED_DATE   DATETIME     ,
        SYNC_REC            INT          ,
        UOM                 VARCHAR (10) ,
        PER_GRM_PROMO_PRICE FLOAT        ,
        PER_GRM_SELL_PRICE  FLOAT        ,
        ITM_SCALABLE_FLAG   VARCHAR (1)  ,
        PROMO_FLAG          INT          ,
        PROMOTION_TYPE      VARCHAR (30) ,
        CAMPAIGN_GROUP      VARCHAR (30) ,
        PROMO_START_DATE    VARCHAR (8)  ,
        PROMO_END_DATE      VARCHAR (8)  ,
        PROMO_START_TIME    VARCHAR (8)  ,
        PROMO_END_TIME      VARCHAR (8)  ,
        REDLIST             VARCHAR (20) ,
        SAVE_AMT            INT          
    );
    /* ================================================================
       PATCH 2.4 PROMOTION PIPELINE TEMP TABLES

       #PROMO_RAW:
         operational store CMP_* rows only; no FactCampaign join.

       #CAMPAIGN_DAY:
         local/latest FactCampaign weekday metadata for raw keys only.

       #PROMO_ITEMS:
         eligible + UOM-normalized candidate rows used by selection.
       ================================================================ */
    CREATE TABLE #PROMO_RAW (
        CAMPAIGN_CODE    VARCHAR (50)  NOT NULL,
        CONDITION_CODE   VARCHAR (50)  NULL,
        ITM_CD           VARCHAR (30)  NOT NULL,
        DISC_TEXT        VARCHAR (100) NULL,
        CAMPAIGN_UOM     VARCHAR (10)  NOT NULL,
        PROMO_PRICE      FLOAT         NOT NULL,
        PROMO_PERCENT    FLOAT         NOT NULL,
        PROMOTION_TYPE   VARCHAR (30)  NULL,
        CAMPAIGN_GROUP   VARCHAR (30)  NULL,
        PROMO_START_DATE VARCHAR (8)   NULL,
        PROMO_END_DATE   VARCHAR (8)   NULL,
        PROMO_START_TIME TIME (0)      NULL,
        PROMO_END_TIME   TIME (0)      NULL
    );
    CREATE TABLE #CAMPAIGN_DAY (
        CAMPAIGN_CODE VARCHAR (50) NOT NULL,
        ITM_CD        VARCHAR (30) NOT NULL,
        ACTIVE_TODAY  BIT          NOT NULL,
        PRIMARY KEY CLUSTERED (CAMPAIGN_CODE, ITM_CD)
    );
    CREATE TABLE #PROMO_ITEMS (
        CAMPAIGN_CODE      VARCHAR (50) ,
        ITM_CD             VARCHAR (30) ,
        DISC_TEXT          VARCHAR (100),
        UOM                VARCHAR (10) ,
        PROMO_PRICE        FLOAT        ,
        PROMO_PERCENT      FLOAT        ,
        SELL_PRICE         FLOAT        ,
        PROMOTION_TYPE     VARCHAR (30) ,
        CAMPAIGN_GROUP     VARCHAR (30) ,
        PROMO_START_DATE   VARCHAR (8)  ,
        PROMO_END_DATE     VARCHAR (8)  ,
        PROMO_START_TIME   VARCHAR (8)  ,
        PROMO_END_TIME     VARCHAR (8)  ,
        DAY_METADATA_FOUND BIT          
    );
    CREATE TABLE #PROMO_SELECTED (
        CAMPAIGN_CODE    VARCHAR (50) ,
        ITM_CD           VARCHAR (30) ,
        DISC_TEXT        VARCHAR (100),
        UOM              VARCHAR (10) ,
        PROMO_PRICE      FLOAT        ,
        PROMO_PERCENT    FLOAT        ,
        PROMOTION_TYPE   VARCHAR (30) ,
        CAMPAIGN_GROUP   VARCHAR (30) ,
        PROMO_START_DATE VARCHAR (8)  ,
        PROMO_END_DATE   VARCHAR (8)  ,
        PROMO_START_TIME VARCHAR (8)  ,
        PROMO_END_TIME   VARCHAR (8)  ,
        SELECTION_REASON VARCHAR (50) 
    );
    CREATE TABLE #PROMO_CONFLICTS (
        ITM_CD                 VARCHAR (30),
        UOM                    VARCHAR (10),
        CANDIDATE_COUNT        INT         ,
        CAMPAIGN_COUNT         INT         ,
        UNIQUE_ECONOMIC_STATES INT         ,
        UNIQUE_DISPLAY_STATES  INT         ,
        UNIQUE_OUTBOUND_STATES INT         ,
        CONFLICT_CLASS         VARCHAR (50)
    );
    CREATE TABLE #PROMO_CONFLICT_LOG (
        STORE_CODE             VARCHAR (3) ,
        ITM_CD                 VARCHAR (30),
        UOM                    VARCHAR (10),
        CANDIDATE_COUNT        INT         ,
        CAMPAIGN_COUNT         INT         ,
        UNIQUE_ECONOMIC_STATES INT         ,
        UNIQUE_DISPLAY_STATES  INT         ,
        UNIQUE_OUTBOUND_STATES INT         ,
        CONFLICT_CLASS         VARCHAR (50),
        LOGGED_AT              DATETIME    
    );
    CREATE TABLE #PROMO_UOM_EXCEPTIONS (
        CAMPAIGN_CODE VARCHAR (50),
        ITM_CD        VARCHAR (30),
        CAMPAIGN_UOM  VARCHAR (10),
        ACTUAL_UOM    VARCHAR (10),
        REASON        VARCHAR (50)
    );
    CREATE TABLE #PROMO_UOM_EXCEPTION_LOG (
        STORE_CODE    VARCHAR (3) ,
        CAMPAIGN_CODE VARCHAR (50),
        ITM_CD        VARCHAR (30),
        CAMPAIGN_UOM  VARCHAR (10),
        ACTUAL_UOM    VARCHAR (10),
        REASON        VARCHAR (50),
        LOGGED_AT     DATETIME    
    );
    CREATE TABLE #PROMO_REJECT_LOG (
        STORE_CODE     VARCHAR (3) ,
        STAGE          VARCHAR (30),
        CAMPAIGN_CODE  VARCHAR (50),
        ITM_CD         VARCHAR (30),
        UOM            VARCHAR (10),
        PROMOTION_TYPE VARCHAR (30),
        PROMO_PRICE    FLOAT       ,
        PROMO_PERCENT  FLOAT       ,
        REGULAR_PRICE  FLOAT       ,
        REASON         VARCHAR (50),
        LOGGED_AT      DATETIME    
    );
    CREATE TABLE #PROMO_STAGE_LOG (
        STORE_CODE                VARCHAR (3) PRIMARY KEY,
        RAW_CANDIDATE_ROWS        INT        ,
        RAW_ACTIVE_ITEM_ROWS      INT        ,
        RAW_CLR_ROWS              INT        ,
        NORMALIZED_CANDIDATE_ROWS INT        ,
        UOM_EXCEPTION_ROWS        INT        ,
        SELECTED_ITEM_UOM         INT        ,
        CONFLICT_ITEM_UOM         INT        ,
        RAW_EXTRACTION_SECONDS    INT        ,
        NORMALIZATION_SECONDS     INT        
    );
    CREATE NONCLUSTERED INDEX IX_tmpResult_ItemUOM
        ON #tmpResult(ITEM_CODE, UOM);
    CREATE CLUSTERED INDEX IX_PromoRaw_ItemCampaignUOM
        ON #PROMO_RAW(ITM_CD, CAMPAIGN_CODE, CAMPAIGN_UOM);
    CREATE NONCLUSTERED INDEX IX_PromoItems_ItemUOM
        ON #PROMO_ITEMS(ITM_CD, UOM);
    CREATE UNIQUE NONCLUSTERED INDEX UX_PromoSelected_ItemUOM
        ON #PROMO_SELECTED(ITM_CD, UOM);
    CREATE UNIQUE NONCLUSTERED INDEX UX_PromoConflicts_ItemUOM
        ON #PROMO_CONFLICTS(ITM_CD, UOM);
    -- ========== LOOP THROUGH EACH STORE CODE ==========
    WHILE EXISTS (SELECT 1
                  FROM   @StoreList
                  WHERE  ProcessedFlag = 0)
        BEGIN
            -- Get next unprocessed store code
            SELECT   TOP 1 @varStoreCode = StoreCode
            FROM     @StoreList
            WHERE    ProcessedFlag = 0
            ORDER BY StoreCode;
            PRINT '================================================';
            PRINT 'Processing Store: ' + @varStoreCode;
            PRINT 'Time: ' + CONVERT (VARCHAR (20), GETDATE(), 120);
            PRINT '================================================';
            /* =========================================================
               MINIMAL CONTAINMENT PATCH:
               Keep each loop iteration isolated to the current store.
               The previous implementation allowed #tmpResult and
               #PROMO_ITEMS from Store 075 to remain when Store 084
               was processed.
            ========================================================= */
            TRUNCATE TABLE #tmpResult;
            TRUNCATE TABLE #PROMO_RAW;
            TRUNCATE TABLE #CAMPAIGN_DAY;
            TRUNCATE TABLE #PROMO_ITEMS;
            TRUNCATE TABLE #PROMO_SELECTED;
            TRUNCATE TABLE #PROMO_CONFLICTS;
            TRUNCATE TABLE #PROMO_UOM_EXCEPTIONS;
            --CALCULATION
            SELECT @varStoreIP = [ORG_IP],
                   @varDB = [ORG_DB]
            FROM   [DBWH_8555].[dbo].[DimStore] WITH (NOLOCK)
            WHERE  [ORG_CD] = @varStoreCode;
            IF @varStoreIP IS NULL
               OR @varDB IS NULL
                BEGIN
                    PRINT 'ERROR: Store code ' + @varStoreCode + ' not found in DimStore!';
                    PRINT 'Skipping this store.';
                END
            ELSE
                BEGIN
                    PRINT 'Store IP: ' + @varStoreIP + ', DB: ' + @varDB;
                END
            PRINT '';
            --INSERT ITEM ACTIVE--
            SET @SQL = 'INSERT INTO #tmpResult
			        SELECT 
			          ''' + @varStoreCode + ''' AS STORECODE, 
			          IM.ITM_CD, 
			          '''' AS BARCODE, 
			          IM.ITM_LONG_NAME, 
			          IM.ITM_NAME, 
			          0 AS SP, 
			          0 AS DISC_PRICE, 
			          0 AS DISC_PERCENT, 
			          '''' AS DISC_TEXT, 
			          0 AS MEMBER_PRICE, 
			          0 AS SOH, 
			          '''' AS EXPIRY_DATE, 
			          0 AS PRODWEIGHT, 
			          0 AS MIN, 
			          0 AS MAX, 
			          ''https://threecellar.pepitosupermarket.com/product-detail/'' + IM.ITM_CD AS PRODUCT_URL, 
			          ITM_ATTR02_DESC AS DIV, 
			          ITM_ATTR04_DESC AS DEPT, 
			          ITM_ATTR05_DESC AS CLASS, 
			          ITM_ATTR06_DESC AS SUBCLASS, 
			          REPLACE(
				        REPLACE(
				          ITM_ATTR07_DESC, 
				          CHAR(13), 
				          ''''
				        ), 
				        CHAR(10), 
				        ''''
			          ) AS BRAND, 
			          '''' AS CLASS_ROTATION, 
			          '''' AS NFC_URL, 
			          CASE WHEN ITM_ATTR18_DESC = ''TRADING'' THEN ''N'' ELSE ''C'' END AS CONSIGMENT, 
			          CASE WHEN IM.ITM_ATTR13 = ''00002'' THEN ''N'' ELSE ''Y'' END AS RETURNABLE, 
			          ITM_ATTR14_DESC AS EXPIRY_DAYS, 
			          0 AS DISPLAY_QTY, 
			          IM.LAST_UPDATED_DATE, 
			          0 AS SYNC_REC, 
			          IM.ITM_SALES_UOM AS UOM, 
			          '''' AS PER_GRM_PROMO_PRICE,
			          0 AS PER_GRM_SELL_PRICE,
			          IM.ITM_SCALABLE_FLAG,
			          0 AS PROMO_FLAG,
			          '''' as PROMOTION_TYPE, 
			          '''' as CampaignGroup, 
                      '''' as PROMO_START_DATE ,
	                  '''' as PROMO_END_DATE ,
                      '''' as PROMO_START_TIME ,
                      '''' as PROMO_END_TIME,
			          '''' as redlist, 
			          '''' as SAVE_AMT
          FROM [' + @varStoreIP + '].[' + @varDB + '].dbo.ITEM_MST IM with ( NOLOCK ) 
				        LEFT OUTER JOIN [' + @varStoreIP + '].[' + @varDB + '].dbo.ITEM_DESCRIPTION ID with ( NOLOCK ) ON IM.ITM_CD = ID.ITM_CD  
			        WHERE ISNULL(IM.ITM_STATUS,'''') = ''O''
			        ';
            PRINT ('jumlah all item active di toko tersebut');
            EXECUTE (@SQL);
            PRINT ('jumlah item yang ada berubah 2 hari kebelakang');
            UPDATE #tmpResult
            SET    SYNC_REC = 1
            WHERE  LAST_UPDATED_DATE > GETDATE() - 2;
            ---- GET PROMO ITEM ----
            /* Backup
        INSERT INTO #PROMO_ITEMS
        (
            ITM_CD,DISC_TEXT, UOM, PROMO_PRICE,PROMO_PERCENT, SELL_PRICE, PROMO_START_DATE, PROMO_END_DATE, PROMO_START_TIME, PROMO_END_TIME
        )

        SELECT DISTINCT
            CIGD.CIGD_ITEM_CD                                       AS ITM_CD,
            CASE
                WHEN CHARINDEX(''|'', ISNULL(CH.CMP_DESC, '''')) > 0
                    THEN LTRIM(RTRIM(
                        LEFT(CH.CMP_DESC, CHARINDEX(''|'', CH.CMP_DESC) - 1)
                    ))
                ELSE LEFT(ISNULL(CH.CMP_DESC, ''''), 100)
            END AS DISC_TEXT,
        */
            /* =========================================================
               PATCH 2.4 — STAGE A: REMOTE RAW CAMPAIGN EXTRACTION

               Important performance boundary:
                 - remote store CMP_* only
                 - NO FactCampaign OUTER APPLY / distributed local lookup
                 - no UOM resolution yet
               ========================================================= */
            SET @StepStartedAt = GETDATE();
            SET @Today = CAST (GETDATE() AS DATE);
            SET @SQL = CAST (N'' AS NVARCHAR (MAX)) + N'
        INSERT INTO #PROMO_RAW
        (
            CAMPAIGN_CODE,
            CONDITION_CODE,
            ITM_CD,
            DISC_TEXT,
            CAMPAIGN_UOM,
            PROMO_PRICE,
            PROMO_PERCENT,
            PROMOTION_TYPE,
            CAMPAIGN_GROUP,
            PROMO_START_DATE,
            PROMO_END_DATE,
            PROMO_START_TIME,
            PROMO_END_TIME
        )
        SELECT DISTINCT
            LTRIM(RTRIM(CAST(CH.CMP_GRP_CD AS VARCHAR(50)))) AS CAMPAIGN_CODE,
            LTRIM(RTRIM(CAST(CIGC.CND_CD AS VARCHAR(50)))) AS CONDITION_CODE,
            CIGD.CIGD_ITEM_CD AS ITM_CD,
            RIGHT(ISNULL(CH.CMP_DESC, ''''), 100) AS DISC_TEXT,
            ISNULL(CIGD.CIGD_UOM_CD, ''PCS'') AS CAMPAIGN_UOM,
            CASE WHEN CCM.CMP_TYPE = 1
                 THEN CAST(ISNULL(CCM.CMP_PRM_VAL,0) AS FLOAT) ELSE 0 END AS PROMO_PRICE,
            CASE WHEN CCM.CMP_TYPE = 0
                 THEN CAST(ISNULL(CCM.CMP_PRM_VAL,0) AS FLOAT) ELSE 0 END AS PROMO_PERCENT,
            CASE CCM.CMP_TYPE
                WHEN 3 THEN ''VALUE BASED''
                WHEN 1 THEN ''FIXED PRICE''
                WHEN 0 THEN ''PERCENT BASED''
                WHEN 2 THEN ''FREE ITEM''
                ELSE ''''
            END AS PROMOTION_TYPE,
            CASE
                WHEN CH.CMP_DESC LIKE ''%SUPER%SAVER%'' THEN ''SUPER SAVER''
                WHEN CH.CMP_DESC LIKE ''%MODIS%'' THEN ''MODIS''
                WHEN CH.CMP_DESC LIKE ''%QSR%'' THEN ''QSR''
                WHEN CH.CMP_DESC LIKE ''%PFS%'' THEN ''PFS''
                WHEN CH.CMP_DESC LIKE ''%RTE%'' THEN ''RTE''
                WHEN CH.CMP_DESC LIKE ''%CLR%'' THEN ''CLEARANCE''
                WHEN CH.CMP_DESC LIKE ''%JAPAS%'' THEN ''JAJAN PASAR''
                WHEN CH.CMP_DESC LIKE ''%JAJAN%PASAR%'' THEN ''JAJAN PASAR''
                WHEN CH.CMP_DESC LIKE ''%SUPER%FRESH%'' THEN ''SUPER FRESH DEAL''
                WHEN CH.CMP_DESC LIKE ''%IN%STORE%PROMO%'' THEN ''IN STORE PROMO''
                WHEN CH.CMP_DESC LIKE ''%PROMO%IN%STORE%'' THEN ''IN STORE PROMO''
                ELSE ''''
            END AS CAMPAIGN_GROUP,
            CONVERT(VARCHAR(8), CH.CMP_FROM_DATE,112) AS PROMO_START_DATE,
            CONVERT(VARCHAR(8), CH.CMP_TO_DATE,112) AS PROMO_END_DATE,
            TRY_CONVERT(TIME(0), CH.CMP_FROM_TIME) AS PROMO_START_TIME,
            TRY_CONVERT(TIME(0), CH.CMP_TO_TIME) AS PROMO_END_TIME
        FROM [' + @varStoreIP + '].[' + @varDB + '].dbo.CMP_HDR CH WITH (NOLOCK)
        INNER JOIN [' + @varStoreIP + '].[' + @varDB + '].dbo.CMP_ORG_DTL COD WITH (NOLOCK)
            ON COD.CMP_GRP_CD = CH.CMP_GRP_CD
        INNER JOIN [' + @varStoreIP + '].[' + @varDB + '].dbo.CMP_ITEM_GRP_HDR CIGH WITH (NOLOCK)
            ON CH.CMP_GRP_CD = CIGH.CMP_GRP_CD
        LEFT JOIN [' + @varStoreIP + '].[' + @varDB + '].dbo.CMP_ITEM_GRP_CND CIGC WITH (NOLOCK)
            ON CIGC.CIH_GRP_CD = CIGH.CIH_GRP_CD
        LEFT JOIN [' + @varStoreIP + '].[' + @varDB + '].dbo.CMP_CND_MST CCM WITH (NOLOCK)
            ON CCM.CND_CD = CIGC.CND_CD
        LEFT JOIN [' + @varStoreIP + '].[' + @varDB + '].dbo.CMP_ITEM_GRP_DTL CIGD WITH (NOLOCK)
            ON CIGD.CIGC_CD = CIGH.CIGC_CD
        WHERE COD.CMP_ORG_CD = @pStoreCode
          AND CH.CMP_STATUS = ''A''
          AND CIGD.CIGD_STATUS = ''O''
          AND @pToday BETWEEN CAST(CH.CMP_FROM_DATE AS DATE)
                          AND CAST(CH.CMP_TO_DATE AS DATE)
          AND ISNULL(CIGD.CIGD_ITEM_CD, '''') <> ''''
          AND CCM.CMP_TYPE IN (0,1,3)

          /* PATCH2_PFS_EXCLUSION
             Deliberately does not filter generic MEMBER/5-field text. */
          AND UPPER(ISNULL(CH.CMP_DESC, '''')) NOT LIKE ''%PFS%'';
        ';
            PRINT ('DAPATKAN PROMO ITEM - RAW');
            PRINT 'Promo raw dynamic SQL length: ' + CAST (LEN(@SQL) AS VARCHAR (20));
            BEGIN TRY
                EXECUTE sys.sp_executesql @SQL, N'@pStoreCode varchar(3), @pToday date', @pStoreCode = @varStoreCode, @pToday = @Today;
            END TRY
            BEGIN CATCH
                SELECT @varStoreCode AS FailedStoreCode,
                       ERROR_NUMBER() AS ErrorNumber,
                       ERROR_LINE() AS ErrorLine,
                       ERROR_MESSAGE() AS ErrorMessage,
                       @SQL AS FailedPromoDynamicSQL;
                THROW;
            END CATCH
            SET @RawExtractionSeconds = DATEDIFF(SECOND, @StepStartedAt, GETDATE());
            PRINT 'Raw promo extraction seconds: ' + CAST (@RawExtractionSeconds AS VARCHAR (20));
            /* =========================================================
               PATCH 2.4 — STAGE B: LOCAL WEEKDAY ENRICHMENT

               FactCampaign is now read locally once for the raw campaign keys.
               Missing FactCampaign metadata keeps the raw candidate eligible,
               preserving the conservative behavior from Patch 2.3.
               ========================================================= */
            SET @StepStartedAt = GETDATE();
            SET @IsoWeekday = CONVERT (TINYINT, (DATEDIFF(DAY, CONVERT (DATE, '19000101'), CAST (GETDATE() AS DATE)) % 7) + 1);
            WITH RawKeys
            AS   (SELECT DISTINCT CAMPAIGN_CODE,
                                  ITM_CD
                  FROM   #PROMO_RAW),
                 RankedFact
            AS   (SELECT CAST (FC.[CAMPAIGN CODE] AS VARCHAR (50)) AS CAMPAIGN_CODE,
                         CAST (FC.[CAMPAIGN ITEM] AS VARCHAR (30)) AS ITM_CD,
                         CASE @IsoWeekday WHEN 1 THEN CASE WHEN UPPER(LTRIM(RTRIM(CAST (FC.[MONDAY] AS VARCHAR (10))))) IN ('YES', 'Y', '1', 'TRUE') THEN 1 ELSE 0 END WHEN 2 THEN CASE WHEN UPPER(LTRIM(RTRIM(CAST (FC.[TUESDAY] AS VARCHAR (10))))) IN ('YES', 'Y', '1', 'TRUE') THEN 1 ELSE 0 END WHEN 3 THEN CASE WHEN UPPER(LTRIM(RTRIM(CAST (FC.[WEDNESDAY] AS VARCHAR (10))))) IN ('YES', 'Y', '1', 'TRUE') THEN 1 ELSE 0 END WHEN 4 THEN CASE WHEN UPPER(LTRIM(RTRIM(CAST (FC.[THURSDAY] AS VARCHAR (10))))) IN ('YES', 'Y', '1', 'TRUE') THEN 1 ELSE 0 END WHEN 5 THEN CASE WHEN UPPER(LTRIM(RTRIM(CAST (FC.[FRIDAY] AS VARCHAR (10))))) IN ('YES', 'Y', '1', 'TRUE') THEN 1 ELSE 0 END WHEN 6 THEN CASE WHEN UPPER(LTRIM(RTRIM(CAST (FC.[SATURDAY] AS VARCHAR (10))))) IN ('YES', 'Y', '1', 'TRUE') THEN 1 ELSE 0 END WHEN 7 THEN CASE WHEN UPPER(LTRIM(RTRIM(CAST (FC.[SUNDAY] AS VARCHAR (10))))) IN ('YES', 'Y', '1', 'TRUE') THEN 1 ELSE 0 END END AS ACTIVE_TODAY,
                         ROW_NUMBER() OVER (PARTITION BY CAST (FC.[CAMPAIGN CODE] AS VARCHAR (50)), CAST (FC.[CAMPAIGN ITEM] AS VARCHAR (30)) ORDER BY TRY_CONVERT (DATETIME, FC.[LASTUPDATED]) DESC) AS RN
                  FROM   [DBWH_8555].[dbo].[FactCampaign] AS FC WITH (NOLOCK)
                         INNER JOIN
                         RawKeys AS RK
                         ON RK.CAMPAIGN_CODE = CAST (FC.[CAMPAIGN CODE] AS VARCHAR (50))
                            AND RK.ITM_CD = CAST (FC.[CAMPAIGN ITEM] AS VARCHAR (30))
                  WHERE  FC.[FOR_ORGANIZATION] = @varStoreCode
                         AND FC.[CAMPAIGN STATUS] = 'RUNNING')
            INSERT INTO #CAMPAIGN_DAY (
                CAMPAIGN_CODE,
                ITM_CD,
                ACTIVE_TODAY
            )
            SELECT CAMPAIGN_CODE,
                   ITM_CD,
                   ACTIVE_TODAY
            FROM   RankedFact
            WHERE  RN = 1;
            /* =========================================================
               PATCH2_TIME_ELIGIBILITY
               PATCH 2.4 — STAGE C: UOM RESOLUTION

               Confirmed rule:
                 raw CLR is a campaign-level UOM/code and must not be treated
                 as actual selling UOM.

               Safe automatic mapping:
                 CLR -> #tmpResult.UOM for the current store/item.

               Non-CLR mismatches (e.g. CTN -> PCS) are not auto-converted.
               They are logged as UOM_RULE_REQUIRED.
               ========================================================= */
            INSERT INTO #PROMO_UOM_EXCEPTIONS (
                CAMPAIGN_CODE,
                ITM_CD,
                CAMPAIGN_UOM,
                ACTUAL_UOM,
                REASON
            )
            SELECT DISTINCT R.CAMPAIGN_CODE,
                            R.ITM_CD,
                            R.CAMPAIGN_UOM,
                            T.UOM,
                            'UOM_RULE_REQUIRED'
            FROM   #PROMO_RAW AS R
                   INNER JOIN
                   #tmpResult AS T
                   ON T.ITEM_CODE = R.ITM_CD
                   LEFT OUTER JOIN
                   #CAMPAIGN_DAY AS D
                   ON D.CAMPAIGN_CODE = R.CAMPAIGN_CODE
                      AND D.ITM_CD = R.ITM_CD
            WHERE  R.CAMPAIGN_UOM <> 'CLR'
                   AND R.CAMPAIGN_UOM <> T.UOM
                   AND (R.PROMO_START_TIME IS NULL
                        OR R.PROMO_END_TIME IS NULL
                        OR (R.PROMO_START_TIME <= R.PROMO_END_TIME
                            AND CAST (GETDATE() AS TIME (0)) BETWEEN R.PROMO_START_TIME AND R.PROMO_END_TIME)
                        OR (R.PROMO_START_TIME > R.PROMO_END_TIME
                            AND (CAST (GETDATE() AS TIME (0)) >= R.PROMO_START_TIME
                                 OR CAST (GETDATE() AS TIME (0)) <= R.PROMO_END_TIME)))
                   AND (D.CAMPAIGN_CODE IS NULL
                        OR D.ACTIVE_TODAY = 1);
            INSERT INTO #PROMO_UOM_EXCEPTION_LOG (
                STORE_CODE,
                CAMPAIGN_CODE,
                ITM_CD,
                CAMPAIGN_UOM,
                ACTUAL_UOM,
                REASON,
                LOGGED_AT
            )
            SELECT @varStoreCode,
                   CAMPAIGN_CODE,
                   ITM_CD,
                   CAMPAIGN_UOM,
                   ACTUAL_UOM,
                   REASON,
                   GETDATE()
            FROM   #PROMO_UOM_EXCEPTIONS;
            INSERT INTO #PROMO_ITEMS (
                CAMPAIGN_CODE,
                ITM_CD,
                DISC_TEXT,
                UOM,
                PROMO_PRICE,
                PROMO_PERCENT,
                SELL_PRICE,
                PROMOTION_TYPE,
                CAMPAIGN_GROUP,
                PROMO_START_DATE,
                PROMO_END_DATE,
                PROMO_START_TIME,
                PROMO_END_TIME,
                DAY_METADATA_FOUND
            )
            SELECT DISTINCT R.CAMPAIGN_CODE,
                            R.ITM_CD,
                            R.DISC_TEXT,
                            /* PATCH2_4_CLR_UOM_RESOLUTION */
                            CASE WHEN R.CAMPAIGN_UOM = 'CLR' THEN T.UOM ELSE R.CAMPAIGN_UOM END AS RESOLVED_UOM,
                            R.PROMO_PRICE,
                            R.PROMO_PERCENT,
                            0 AS SELL_PRICE,
                            R.PROMOTION_TYPE,
                            R.CAMPAIGN_GROUP,
                            R.PROMO_START_DATE,
                            R.PROMO_END_DATE,
                            CONVERT (VARCHAR (8), ISNULL(R.PROMO_START_TIME, CAST ('00:00:00' AS TIME (0))), 108),
                            CONVERT (VARCHAR (8), ISNULL(R.PROMO_END_TIME, CAST ('23:59:59' AS TIME (0))), 108),
                            CASE WHEN D.CAMPAIGN_CODE IS NULL THEN 0 ELSE 1 END
            FROM   #PROMO_RAW AS R
                   INNER JOIN
                   #tmpResult AS T
                   ON T.ITEM_CODE = R.ITM_CD
                   LEFT OUTER JOIN
                   #CAMPAIGN_DAY AS D
                   ON D.CAMPAIGN_CODE = R.CAMPAIGN_CODE
                      AND D.ITM_CD = R.ITM_CD
            WHERE  /* only CLR or an exact selling-UOM match enters selection */
            (R.CAMPAIGN_UOM = 'CLR'
             OR R.CAMPAIGN_UOM = T.UOM)
            AND /* current-time eligibility */
            (R.PROMO_START_TIME IS NULL
             OR R.PROMO_END_TIME IS NULL
             OR (R.PROMO_START_TIME <= R.PROMO_END_TIME
                 AND CAST (GETDATE() AS TIME (0)) BETWEEN R.PROMO_START_TIME AND R.PROMO_END_TIME)
             OR (R.PROMO_START_TIME > R.PROMO_END_TIME
                 AND (CAST (GETDATE() AS TIME (0)) >= R.PROMO_START_TIME
                      OR CAST (GETDATE() AS TIME (0)) <= R.PROMO_END_TIME)))
            AND /* weekday eligibility only when metadata is present */
            (D.CAMPAIGN_CODE IS NULL
             OR D.ACTIVE_TODAY = 1);
            SET @NormalizationSeconds = DATEDIFF(SECOND, @StepStartedAt, GETDATE());
            INSERT INTO #PROMO_STAGE_LOG (
                STORE_CODE,
                RAW_CANDIDATE_ROWS,
                RAW_ACTIVE_ITEM_ROWS,
                RAW_CLR_ROWS,
                NORMALIZED_CANDIDATE_ROWS,
                UOM_EXCEPTION_ROWS,
                SELECTED_ITEM_UOM,
                CONFLICT_ITEM_UOM,
                RAW_EXTRACTION_SECONDS,
                NORMALIZATION_SECONDS
            )
            SELECT @varStoreCode,
                   (SELECT COUNT(*)
                    FROM   #PROMO_RAW),
                   (SELECT COUNT(*)
                    FROM   #PROMO_RAW AS R
                           INNER JOIN
                           #tmpResult AS T
                           ON T.ITEM_CODE = R.ITM_CD),
                   (SELECT COUNT(*)
                    FROM   #PROMO_RAW
                    WHERE  CAMPAIGN_UOM = 'CLR'),
                   (SELECT COUNT(*)
                    FROM   #PROMO_ITEMS),
                   (SELECT COUNT(*)
                    FROM   #PROMO_UOM_EXCEPTIONS),
                   0,
                   0,
                   @RawExtractionSeconds,
                   @NormalizationSeconds;
            PRINT 'Local weekday/UOM normalization seconds: ' + CAST (@NormalizationSeconds AS VARCHAR (20));
            -- ========== LOG CURRENT TEMP TABLE COUNTS ==========
            DECLARE @tmpCurrentCount AS INT;
            DECLARE @promoCurrentCount AS INT;
            SELECT @tmpCurrentCount = COUNT(*)
            FROM   #tmpResult
            WHERE  STORE_CODE = @varStoreCode;
            SELECT @promoCurrentCount = COUNT(*)
            FROM   #PROMO_ITEMS;
            PRINT 'Items loaded for store ' + @varStoreCode + ': ' + CAST (@tmpCurrentCount AS VARCHAR (10));
            PRINT 'Normalized eligible promo rows: ' + CAST (@promoCurrentCount AS VARCHAR (10));
            PRINT 'Completed processing store: ' + @varStoreCode;
            PRINT '';
            /*
        SET @SQL = '
			        UPDATE #tmpResult
			        SET SOH = Isnull(SM_CURR_STK_QTY,0) + ISNULL(SM_CONSIGN_STK_QTY,0)
			        , SYNC_REC = 1
			        FROM ['+@varStoreIP+'].['+@varDB+'].dbo.STOCK_MASTER SM with ( NOLOCK ) INNER JOIN #tmpResult tmp ON SM.SM_ITM_CD = tmp.ITEM_CODE
			
			        '--WHERE SM.LAST_UPDATED_DATE > GETDATE()-1
        PRINT('update SOH untuk item yang ada di toko')
        EXEC (@SQL)
        */
            -- UPDATE STOCK ON HAND
            SET @SQL = '
        UPDATE TMP
        SET
            TMP.SOH = ISNULL(STK.STOCK,0),
            TMP.SYNC_REC = CASE
                               WHEN ISNULL(TMP.SOH,0) <> ISNULL(STK.STOCK,0)
                               THEN 1
                               ELSE TMP.SYNC_REC
                           END
        FROM #tmpResult TMP
        LEFT JOIN
        (
            SELECT
                ITM_CD,
                SUM(STOCK) AS STOCK
            FROM
            (
                SELECT
                    SM.SM_ITM_CD AS ITM_CD,
                    SUM(ISNULL(SM.SM_CURR_STK_QTY,0) + ISNULL(SM.SM_CONSIGN_STK_QTY,0)) AS STOCK
                FROM [' + @varStoreIP + '].[' + @varDB + '].dbo.STOCK_MASTER SM WITH (NOLOCK)
                WHERE SM.SM_ORG_CD = ''' + @varStoreCode + '''
                  AND SM.SM_LOC_CD = ''001''
                GROUP BY SM.SM_ITM_CD

                UNION ALL

                SELECT
                    OTIM.STR_ITM_CD,
                    SUM(ISNULL(OTIM.DBL_QTY,0))
                FROM [' + @varStoreIP + '].[' + @varDB + '].dbo.OFFLINE_TEMP_ITEM_MOVEMENT OTIM WITH (NOLOCK)
                WHERE OTIM.STR_ORG_CD = ''' + @varStoreCode + '''
                  AND OTIM.LOC_CD = ''001''
                GROUP BY OTIM.STR_ITM_CD

                UNION ALL

                SELECT
                    POTIM.STR_ITM_CD,
                    SUM(ISNULL(POTIM.DBL_QTY,0))
                FROM [' + @varStoreIP + '].[' + @varDB + '].dbo.POS_OFFLINE_TEMP_ITEM_MOVEMENT POTIM WITH (NOLOCK)
                WHERE POTIM.STOCK_UPDATED_FLAG IS NULL
                  AND POTIM.STR_ORG_CD = ''' + @varStoreCode + '''
                  AND POTIM.LOC_CD = ''001''
                GROUP BY POTIM.STR_ITM_CD
            ) X
            GROUP BY ITM_CD
        ) STK
            ON TMP.ITEM_CODE = STK.ITM_CD;
        ';
            PRINT ('Update SOH menggunakan seluruh sumber stok');
            EXECUTE (@SQL);
            ----BARCODE--
            UPDATE #tmpResult
            SET    BARCODE = uom.IUM_BAR_ITM_CD,
                   UOM     = uom.IUM_LEAST_UOM_CD
            FROM   dbo.#tmpResult AS di
                   INNER JOIN
                   (SELECT IUM_ITM_CD,
                           IUM_LEAST_UOM_CD,
                           IUM_BAR_ITM_CD
                    FROM   [192.168.85.18].[PEPITO_HO].dbo.ITEM_UOM_MAPPING_MST WITH (NOLOCK)
                    WHERE  IUM_UOM_MAP_STATUS = 'O'
                           AND IUM_MAIN_ITM_BARCODE = 1
                           AND IUM_SALES_UOM_FLAG = 1) AS uom
                   ON di.ITEM_CODE = uom.IUM_ITM_CD;
            PRINT ('update Barcode untuk item yang ada di toko');
            /* PATCH2_5_PRICE_BEFORE_SELECTION
               Category 001 is the physical-store regular selling price and is
               required before promo economic validation. */
            SET @SQL = '
				        UPDATE #tmpResult
				        SET SALES_PRICE = x.BSP_SELL_PRICE
				        FROM dbo.#tmpResult TMP INNER JOIN
					        (SELECT BSP_ITEM_CD, BSP_SELL_PRICE, BSP_UOM
						        FROM [' + @varStoreIP + '].[' + @varDB + '].dbo.BASIC_SP_MST HDR with ( NOLOCK )
						        WHERE BSP_ORG_CD = ' + @varStoreCode + '
                            AND BSP_PRICE_CATG = ''001''
						        AND  BSP_STATUS = ''A''
					        ) x ON TMP.ITEM_CODE = x.BSP_ITEM_CD AND TMP.UOM = x.BSP_UOM
				        ';
            PRINT ('update Sales Price 001 before promo selection');
            EXECUTE (@SQL);
            UPDATE P
            SET    P.SELL_PRICE = T.SALES_PRICE
            FROM   #PROMO_ITEMS AS P
                   INNER JOIN
                   #tmpResult AS T
                   ON T.ITEM_CODE = P.ITM_CD
                      AND T.UOM = P.UOM;
            /* PATCH2_5_HOP_PRICE_COMPATIBILITY
               Fixed promo price > regular 001 is treated as no promo.
               Structured zero-effect FIXED/PERCENT rows are also rejected.
               DISC_TEXT field count remains untouched. */
            INSERT INTO #PROMO_REJECT_LOG (
                STORE_CODE,
                STAGE,
                CAMPAIGN_CODE,
                ITM_CD,
                UOM,
                PROMOTION_TYPE,
                PROMO_PRICE,
                PROMO_PERCENT,
                REGULAR_PRICE,
                REASON,
                LOGGED_AT
            )
            SELECT @varStoreCode,
                   'CANDIDATE',
                   P.CAMPAIGN_CODE,
                   P.ITM_CD,
                   P.UOM,
                   P.PROMOTION_TYPE,
                   P.PROMO_PRICE,
                   P.PROMO_PERCENT,
                   P.SELL_PRICE,
                   CASE WHEN UPPER(ISNULL(P.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                             AND ISNULL(P.PROMO_PRICE, 0) <= 0 THEN 'ZERO_EFFECT_FIXED' WHEN UPPER(ISNULL(P.PROMOTION_TYPE, '')) = 'PERCENT BASED'
                                                                                             AND ISNULL(P.PROMO_PERCENT, 0) <= 0 THEN 'ZERO_EFFECT_PERCENT' WHEN UPPER(ISNULL(P.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                                                                                                                                                                 AND ISNULL(P.SELL_PRICE, 0) > 0
                                                                                                                                                                 AND P.PROMO_PRICE > P.SELL_PRICE THEN 'FIXED_PRICE_GT_REGULAR' END,
                   GETDATE()
            FROM   #PROMO_ITEMS AS P
            WHERE  (UPPER(ISNULL(P.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                    AND ISNULL(P.PROMO_PRICE, 0) <= 0)
                   OR (UPPER(ISNULL(P.PROMOTION_TYPE, '')) = 'PERCENT BASED'
                       AND ISNULL(P.PROMO_PERCENT, 0) <= 0)
                   OR (UPPER(ISNULL(P.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                       AND ISNULL(P.SELL_PRICE, 0) > 0
                       AND P.PROMO_PRICE > P.SELL_PRICE);
            DELETE P
            FROM   #PROMO_ITEMS AS P
            WHERE  (UPPER(ISNULL(P.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                    AND ISNULL(P.PROMO_PRICE, 0) <= 0)
                   OR (UPPER(ISNULL(P.PROMOTION_TYPE, '')) = 'PERCENT BASED'
                       AND ISNULL(P.PROMO_PERCENT, 0) <= 0)
                   OR (UPPER(ISNULL(P.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                       AND ISNULL(P.SELL_PRICE, 0) > 0
                       AND P.PROMO_PRICE > P.SELL_PRICE)
            /* =========================================================
               PATCH 2 PROMOTION SELECTION
               No DISC_TEXT field-count filtering is applied.
            ========================================================= */; -- Prefer an existing state only if it exactly matches one currently
            -- eligible candidate. This is a stability tie-break, not business
            -- priority.
            WITH ExistingValid
            AS   (SELECT P.*,
                         ROW_NUMBER() OVER (PARTITION BY P.ITM_CD, P.UOM ORDER BY P.CAMPAIGN_CODE) AS RN
                  FROM   #PROMO_ITEMS AS P
                         INNER JOIN
                         dbo.tb_ESL AS E WITH (NOLOCK)
                         ON E.STORE_CODE = @varStoreCode
                            AND E.ITEM_CODE = P.ITM_CD
                            AND CASE WHEN E.UOM = '/100GR' THEN 'KGS' ELSE E.UOM END = P.UOM
                  WHERE  ISNULL(E.PROMO_FLAG, 0) = 1
                         AND ISNULL(E.DISC_TEXT, '') = ISNULL(P.DISC_TEXT, '')
                         AND ABS(ISNULL(CONVERT (FLOAT, E.DISC_PRICE), 0) - ISNULL(P.PROMO_PRICE, 0)) < 0.0001
                         AND ABS(ISNULL(CONVERT (FLOAT, E.DISC_PERCENT), 0) - ISNULL(P.PROMO_PERCENT, 0)) < 0.0001
                         AND ISNULL(E.PROMOTION_TYPE, '') = ISNULL(P.PROMOTION_TYPE, '')
                         AND ISNULL(E.CAMPAIGN_GROUP, '') = ISNULL(P.CAMPAIGN_GROUP, '')
                         AND ISNULL(E.PROMO_START_DATE, '') = ISNULL(P.PROMO_START_DATE, '')
                         AND ISNULL(E.PROMO_END_DATE, '') = ISNULL(P.PROMO_END_DATE, '')
                         AND ISNULL(E.PROMO_START_TIME, '') = ISNULL(P.PROMO_START_TIME, '')
                         AND ISNULL(E.PROMO_END_TIME, '') = ISNULL(P.PROMO_END_TIME, ''))
            INSERT INTO #PROMO_SELECTED (
                CAMPAIGN_CODE,
                ITM_CD,
                DISC_TEXT,
                UOM,
                PROMO_PRICE,
                PROMO_PERCENT,
                PROMOTION_TYPE,
                CAMPAIGN_GROUP,
                PROMO_START_DATE,
                PROMO_END_DATE,
                PROMO_START_TIME,
                PROMO_END_TIME,
                SELECTION_REASON
            )
            SELECT CAMPAIGN_CODE,
                   ITM_CD,
                   DISC_TEXT,
                   UOM,
                   PROMO_PRICE,
                   PROMO_PERCENT,
                   PROMOTION_TYPE,
                   CAMPAIGN_GROUP,
                   PROMO_START_DATE,
                   PROMO_END_DATE,
                   PROMO_START_TIME,
                   PROMO_END_TIME,
                   'KEEP_EXISTING_VALID'
            FROM   ExistingValid
            WHERE  RN = 1; -- If candidate rows all collapse to one identical outbound state,
            -- choosing one campaign code cannot change the ESL payload.
            WITH DistinctStates
            AS   (SELECT DISTINCT ITM_CD,
                                  UOM,
                                  DISC_TEXT,
                                  PROMO_PRICE,
                                  PROMO_PERCENT,
                                  PROMOTION_TYPE,
                                  CAMPAIGN_GROUP,
                                  PROMO_START_DATE,
                                  PROMO_END_DATE,
                                  PROMO_START_TIME,
                                  PROMO_END_TIME
                  FROM   #PROMO_ITEMS),
                 StateCounts
            AS   (SELECT   ITM_CD,
                           UOM,
                           COUNT(*) AS UNIQUE_OUTBOUND_STATES
                  FROM     DistinctStates
                  GROUP BY ITM_CD, UOM),
                 RankedCandidates
            AS   (SELECT P.*,
                         ROW_NUMBER() OVER (PARTITION BY P.ITM_CD, P.UOM ORDER BY P.CAMPAIGN_CODE) AS RN
                  FROM   #PROMO_ITEMS AS P
                         INNER JOIN
                         StateCounts AS S
                         ON S.ITM_CD = P.ITM_CD
                            AND S.UOM = P.UOM
                  WHERE  S.UNIQUE_OUTBOUND_STATES = 1)
            INSERT INTO #PROMO_SELECTED (
                CAMPAIGN_CODE,
                ITM_CD,
                DISC_TEXT,
                UOM,
                PROMO_PRICE,
                PROMO_PERCENT,
                PROMOTION_TYPE,
                CAMPAIGN_GROUP,
                PROMO_START_DATE,
                PROMO_END_DATE,
                PROMO_START_TIME,
                PROMO_END_TIME,
                SELECTION_REASON
            )
            SELECT R.CAMPAIGN_CODE,
                   R.ITM_CD,
                   R.DISC_TEXT,
                   R.UOM,
                   R.PROMO_PRICE,
                   R.PROMO_PERCENT,
                   R.PROMOTION_TYPE,
                   R.CAMPAIGN_GROUP,
                   R.PROMO_START_DATE,
                   R.PROMO_END_DATE,
                   R.PROMO_START_TIME,
                   R.PROMO_END_TIME,
                   'ONE_OUTBOUND_STATE'
            FROM   RankedCandidates AS R
            WHERE  R.RN = 1
                   AND NOT EXISTS (SELECT 1
                                   FROM   #PROMO_SELECTED AS S
                                   WHERE  S.ITM_CD = R.ITM_CD
                                          AND S.UOM = R.UOM); -- Remaining normalized candidates have no exact valid existing
            -- state and did not collapse to one identical outbound payload.
            -- Patch 2.5 separates economic disagreement from display-only
            -- disagreement; no business priority is invented.
            WITH DistinctEconomicStates
            AS   (SELECT DISTINCT ITM_CD,
                                  UOM,
                                  PROMOTION_TYPE,
                                  PROMO_PRICE,
                                  PROMO_PERCENT
                  FROM   #PROMO_ITEMS),
                 EconomicStateCounts
            AS   (SELECT   ITM_CD,
                           UOM,
                           COUNT(*) AS UNIQUE_ECONOMIC_STATES
                  FROM     DistinctEconomicStates
                  GROUP BY ITM_CD, UOM),
                 DistinctDisplayStates
            AS   (SELECT DISTINCT ITM_CD,
                                  UOM,
                                  DISC_TEXT,
                                  CAMPAIGN_GROUP,
                                  PROMO_START_DATE,
                                  PROMO_END_DATE,
                                  PROMO_START_TIME,
                                  PROMO_END_TIME
                  FROM   #PROMO_ITEMS),
                 DisplayStateCounts
            AS   (SELECT   ITM_CD,
                           UOM,
                           COUNT(*) AS UNIQUE_DISPLAY_STATES
                  FROM     DistinctDisplayStates
                  GROUP BY ITM_CD, UOM),
                 DistinctOutboundStates
            AS   (SELECT DISTINCT ITM_CD,
                                  UOM,
                                  DISC_TEXT,
                                  PROMO_PRICE,
                                  PROMO_PERCENT,
                                  PROMOTION_TYPE,
                                  CAMPAIGN_GROUP,
                                  PROMO_START_DATE,
                                  PROMO_END_DATE,
                                  PROMO_START_TIME,
                                  PROMO_END_TIME
                  FROM   #PROMO_ITEMS),
                 OutboundStateCounts
            AS   (SELECT   ITM_CD,
                           UOM,
                           COUNT(*) AS UNIQUE_OUTBOUND_STATES
                  FROM     DistinctOutboundStates
                  GROUP BY ITM_CD, UOM),
                 CandidateCounts
            AS   (SELECT   ITM_CD,
                           UOM,
                           COUNT(*) AS CANDIDATE_COUNT,
                           COUNT(DISTINCT CAMPAIGN_CODE) AS CAMPAIGN_COUNT
                  FROM     #PROMO_ITEMS
                  GROUP BY ITM_CD, UOM)
            INSERT INTO #PROMO_CONFLICTS (
                ITM_CD,
                UOM,
                CANDIDATE_COUNT,
                CAMPAIGN_COUNT,
                UNIQUE_ECONOMIC_STATES,
                UNIQUE_DISPLAY_STATES,
                UNIQUE_OUTBOUND_STATES,
                CONFLICT_CLASS
            )
            SELECT C.ITM_CD,
                   C.UOM,
                   C.CANDIDATE_COUNT,
                   C.CAMPAIGN_COUNT,
                   E.UNIQUE_ECONOMIC_STATES,
                   D.UNIQUE_DISPLAY_STATES,
                   O.UNIQUE_OUTBOUND_STATES,
                   CASE WHEN E.UNIQUE_ECONOMIC_STATES = 1
                             AND D.UNIQUE_DISPLAY_STATES > 1 THEN 'SAME_ECONOMIC_DIFFERENT_DISPLAY' WHEN E.UNIQUE_ECONOMIC_STATES > 1 THEN 'DIFFERENT_ECONOMIC_STATE' ELSE 'OTHER_UNRESOLVED' END
            FROM   CandidateCounts AS C
                   INNER JOIN
                   EconomicStateCounts AS E
                   ON E.ITM_CD = C.ITM_CD
                      AND E.UOM = C.UOM
                   INNER JOIN
                   DisplayStateCounts AS D
                   ON D.ITM_CD = C.ITM_CD
                      AND D.UOM = C.UOM
                   INNER JOIN
                   OutboundStateCounts AS O
                   ON O.ITM_CD = C.ITM_CD
                      AND O.UOM = C.UOM
            WHERE  NOT EXISTS (SELECT 1
                               FROM   #PROMO_SELECTED AS X
                               WHERE  X.ITM_CD = C.ITM_CD
                                      AND X.UOM = C.UOM);
            INSERT INTO #PROMO_CONFLICT_LOG (
                STORE_CODE,
                ITM_CD,
                UOM,
                CANDIDATE_COUNT,
                CAMPAIGN_COUNT,
                UNIQUE_ECONOMIC_STATES,
                UNIQUE_DISPLAY_STATES,
                UNIQUE_OUTBOUND_STATES,
                CONFLICT_CLASS,
                LOGGED_AT
            )
            SELECT @varStoreCode,
                   ITM_CD,
                   UOM,
                   CANDIDATE_COUNT,
                   CAMPAIGN_COUNT,
                   UNIQUE_ECONOMIC_STATES,
                   UNIQUE_DISPLAY_STATES,
                   UNIQUE_OUTBOUND_STATES,
                   CONFLICT_CLASS,
                   GETDATE()
            FROM   #PROMO_CONFLICTS;
            UPDATE #PROMO_STAGE_LOG
            SET    SELECTED_ITEM_UOM = (SELECT COUNT(*)
                                        FROM   #PROMO_SELECTED),
                   CONFLICT_ITEM_UOM = (SELECT COUNT(*)
                                        FROM   #PROMO_CONFLICTS)
            WHERE  STORE_CODE = @varStoreCode;
            ---- RESET PROMO ----
            UPDATE #tmpResult
            SET    PROMO_FLAG       = 0,
                   DISC_TEXT        = '',
                   DISC_PRICE       = 0,
                   DISC_PERCENT     = 0,
                   PROMOTION_TYPE   = '',
                   CAMPAIGN_GROUP   = '',
                   PROMO_START_DATE = '',
                   PROMO_END_DATE   = '',
                   PROMO_START_TIME = '',
                   PROMO_END_TIME   = '',
                   SAVE_AMT         = 0;
            /* PATCH2_ATOMIC_PROMO_UPDATE */
            ---- APPLY SELECTED PROMOTION STATE ATOMICALLY ----
            UPDATE T
            SET    T.DISC_TEXT        = P.DISC_TEXT,
                   T.DISC_PRICE       = P.PROMO_PRICE,
                   T.PROMO_FLAG       = 1,
                   T.DISC_PERCENT     = P.PROMO_PERCENT,
                   T.PROMOTION_TYPE   = P.PROMOTION_TYPE,
                   T.CAMPAIGN_GROUP   = P.CAMPAIGN_GROUP,
                   T.SYNC_REC         = 1,
                   T.PROMO_START_DATE = P.PROMO_START_DATE,
                   T.PROMO_END_DATE   = P.PROMO_END_DATE,
                   T.PROMO_START_TIME = P.PROMO_START_TIME,
                   T.PROMO_END_TIME   = P.PROMO_END_TIME
            FROM   #tmpResult AS T
                   INNER JOIN
                   #PROMO_SELECTED AS P
                   ON T.ITEM_CODE = P.ITM_CD
                      AND T.UOM = P.UOM;
            /* Business priority remains unresolved.
               Preserve the previous test-table promo for unresolved conflicts
               only when it is structurally valid, non-PFS, and does not
               violate Hop fixed-price > regular-price behavior. */
            UPDATE T
            SET    T.DISC_TEXT        = E.DISC_TEXT,
                   T.DISC_PRICE       = E.DISC_PRICE,
                   T.PROMO_FLAG       = E.PROMO_FLAG,
                   T.DISC_PERCENT     = E.DISC_PERCENT,
                   T.PROMOTION_TYPE   = E.PROMOTION_TYPE,
                   T.CAMPAIGN_GROUP   = E.CAMPAIGN_GROUP,
                   T.PROMO_START_DATE = E.PROMO_START_DATE,
                   T.PROMO_END_DATE   = E.PROMO_END_DATE,
                   T.PROMO_START_TIME = E.PROMO_START_TIME,
                   T.PROMO_END_TIME   = E.PROMO_END_TIME,
                   T.SAVE_AMT         = E.SAVE_AMT
            FROM   #tmpResult AS T
                   INNER JOIN
                   #PROMO_CONFLICTS AS C
                   ON C.ITM_CD = T.ITEM_CODE
                      AND C.UOM = T.UOM
                   INNER JOIN
                   dbo.tb_ESL AS E WITH (NOLOCK)
                   ON E.STORE_CODE = @varStoreCode
                      AND E.ITEM_CODE = T.ITEM_CODE
                      AND CASE WHEN E.UOM = '/100GR' THEN 'KGS' ELSE E.UOM END = T.UOM
            WHERE  ISNULL(E.PROMO_FLAG, 0) = 1
                   AND UPPER(ISNULL(E.CAMPAIGN_GROUP, '')) <> 'PFS'
                   AND UPPER(ISNULL(E.DISC_TEXT, '')) NOT LIKE '%PFS%'
                   AND ((UPPER(ISNULL(E.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                         AND ISNULL(E.DISC_PRICE, 0) > 0
                         AND (ISNULL(T.SALES_PRICE, 0) <= 0
                              OR E.DISC_PRICE <= T.SALES_PRICE))
                        OR (UPPER(ISNULL(E.PROMOTION_TYPE, '')) = 'PERCENT BASED'
                            AND ISNULL(E.DISC_PERCENT, 0) > 0)
                        OR UPPER(ISNULL(E.PROMOTION_TYPE, '')) = 'VALUE BASED');
            /* PATCH2_5_FINAL_PROMO_INVARIANT
               Safety net after selection/conflict preservation. */
            INSERT INTO #PROMO_REJECT_LOG (
                STORE_CODE,
                STAGE,
                CAMPAIGN_CODE,
                ITM_CD,
                UOM,
                PROMOTION_TYPE,
                PROMO_PRICE,
                PROMO_PERCENT,
                REGULAR_PRICE,
                REASON,
                LOGGED_AT
            )
            SELECT @varStoreCode,
                   'FINAL_STATE',
                   NULL,
                   T.ITEM_CODE,
                   T.UOM,
                   T.PROMOTION_TYPE,
                   T.DISC_PRICE,
                   T.DISC_PERCENT,
                   T.SALES_PRICE,
                   CASE WHEN UPPER(ISNULL(T.CAMPAIGN_GROUP, '')) = 'PFS'
                             OR UPPER(ISNULL(T.DISC_TEXT, '')) LIKE '%PFS%' THEN 'PFS_FINAL_STATE_BLOCK' WHEN UPPER(ISNULL(T.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                                                                                                              AND ISNULL(T.DISC_PRICE, 0) <= 0 THEN 'ZERO_EFFECT_FIXED' WHEN UPPER(ISNULL(T.PROMOTION_TYPE, '')) = 'PERCENT BASED'
                                                                                                                                                                             AND ISNULL(T.DISC_PERCENT, 0) <= 0 THEN 'ZERO_EFFECT_PERCENT' WHEN UPPER(ISNULL(T.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                                                                                                                                                                                                                                                AND ISNULL(T.SALES_PRICE, 0) > 0
                                                                                                                                                                                                                                                AND T.DISC_PRICE > T.SALES_PRICE THEN 'FIXED_PRICE_GT_REGULAR' END,
                   GETDATE()
            FROM   #tmpResult AS T
            WHERE  ISNULL(T.PROMO_FLAG, 0) = 1
                   AND (UPPER(ISNULL(T.CAMPAIGN_GROUP, '')) = 'PFS'
                        OR UPPER(ISNULL(T.DISC_TEXT, '')) LIKE '%PFS%'
                        OR (UPPER(ISNULL(T.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                            AND ISNULL(T.DISC_PRICE, 0) <= 0)
                        OR (UPPER(ISNULL(T.PROMOTION_TYPE, '')) = 'PERCENT BASED'
                            AND ISNULL(T.DISC_PERCENT, 0) <= 0)
                        OR (UPPER(ISNULL(T.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                            AND ISNULL(T.SALES_PRICE, 0) > 0
                            AND T.DISC_PRICE > T.SALES_PRICE));
            UPDATE T
            SET    T.PROMO_FLAG       = 0,
                   T.DISC_TEXT        = '',
                   T.DISC_PRICE       = 0,
                   T.DISC_PERCENT     = 0,
                   T.PROMOTION_TYPE   = '',
                   T.CAMPAIGN_GROUP   = '',
                   T.PROMO_START_DATE = '',
                   T.PROMO_END_DATE   = '',
                   T.PROMO_START_TIME = '',
                   T.PROMO_END_TIME   = '',
                   T.SAVE_AMT         = 0,
                   T.SYNC_REC         = 1
            FROM   #tmpResult AS T
            WHERE  ISNULL(T.PROMO_FLAG, 0) = 1
                   AND (UPPER(ISNULL(T.CAMPAIGN_GROUP, '')) = 'PFS'
                        OR UPPER(ISNULL(T.DISC_TEXT, '')) LIKE '%PFS%'
                        OR (UPPER(ISNULL(T.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                            AND ISNULL(T.DISC_PRICE, 0) <= 0)
                        OR (UPPER(ISNULL(T.PROMOTION_TYPE, '')) = 'PERCENT BASED'
                            AND ISNULL(T.DISC_PERCENT, 0) <= 0)
                        OR (UPPER(ISNULL(T.PROMOTION_TYPE, '')) = 'FIXED PRICE'
                            AND ISNULL(T.SALES_PRICE, 0) > 0
                            AND T.DISC_PRICE > T.SALES_PRICE));
            -- Synchronize only actual promo removals.
            UPDATE T
            SET    T.SYNC_REC = 1
            FROM   #tmpResult AS T
                   INNER JOIN
                   dbo.tb_ESL AS E WITH (NOLOCK)
                   ON E.STORE_CODE = @varStoreCode
                      AND E.ITEM_CODE = T.ITEM_CODE
                      AND CASE WHEN E.UOM = '/100GR' THEN 'KGS' ELSE E.UOM END = T.UOM
            WHERE  ISNULL(E.PROMO_FLAG, 0) = 1
                   AND ISNULL(T.PROMO_FLAG, 0) = 0;
            ----UPDATE /100GR
            UPDATE #tmpResult
            SET    PER_GRM_PROMO_PRICE = CASE WHEN UOM = 'KGS' THEN ISNULL(DISC_PRICE, SALES_PRICE) / 10 ELSE ISNULL(DISC_PRICE, SALES_PRICE) END,
                   PER_GRM_SELL_PRICE  = CASE WHEN UOM = 'KGS' THEN SALES_PRICE / 10 ELSE SALES_PRICE END,
                   UOM                 = CASE WHEN UOM = 'KGS' THEN '/100GR' ELSE '' END
            WHERE  ITM_SCALABLE_FLAG = 1;
            ----UPDATE SAVE AMOUNT--
            UPDATE T
            SET    T.SAVE_AMT = (CASE WHEN T.DISC_PRICE <> 0
                                           AND T.DISC_PERCENT = 0 THEN T.SALES_PRICE - T.DISC_PRICE WHEN T.DISC_PRICE = 0
                                                                                                         AND T.DISC_PERCENT <> 0 THEN T.SALES_PRICE - (T.SALES_PRICE * T.DISC_PERCENT / 100.0) ELSE 0 END)
            FROM   #tmpResult AS T;
            /* PATCH 2:
               PROMOTION_TYPE and CAMPAIGN_GROUP are already sourced from the
               same #PROMO_SELECTED row as text/value/time. The old independent
               metadata re-query is intentionally removed.
            */
            --UPDATE MIN, MAX,DISPLAY_QTY,CLASS_ROTATION
            UPDATE #tmpResult
            SET    MIN_QTY        = [OID_REORDER_POINT],
                   MAX_QTY        = [OID_MAX_STOCK],
                   DISPLAY_QTY    = [OID_DISPLAY_QTY],
                   CLASS_ROTATION = ISNULL([CLASS_ROTATION_DAILY], ''),
                   SYNC_REC       = 1
            FROM   [DBWH_8555].[dbo].[DimItemMapping] AS itemmap WITH (NOLOCK)
                   INNER JOIN
                   #tmpResult AS tmp
                   ON itemmap.OID_ORG_CD = tmp.STORE_CODE
                      AND itemmap.OID_ITM_CD = tmp.ITEM_CODE
            WHERE  ISNULL([OID_ITM_STATUS], '') = 'O'; --AND [LAST_MODIFIED] > GETDATE()-1
            /*
        --UPDATE REDLIST
        UPDATE T
        SET REDLIST=1
        from #tmpResult T
        INNER JOIN [DBWH_8555].[dbo].[DimItem] DI WITH (NOLOCK) ON DI.ITMCD=T.ITEM_CODE 
        INNER JOIN (select * from openquery(STORE_OPS_APP,'select * from benchmark_master_selected_items'))BENCH ON DI.ITMCD=BENCH.SKU
        WHERE DI.FINALSTATUSMASTERCODE='O'
        */
            /* =========================================================
           UPSERT tb_ESL
           Tambahkan script ini sebelum SELECT FINAL
        ========================================================= */
            BEGIN TRY
                BEGIN TRANSACTION;
                /* =========================================================
               DELETE ITEM YANG SUDAH TIDAK ADA / CLOSE
            ========================================================= */
                DELETE T
                FROM   dbo.tb_ESL AS T WITH (ROWLOCK)
                WHERE  T.STORE_CODE = @varStoreCode
                       AND NOT EXISTS (SELECT 1
                                       FROM   #tmpResult AS X
                                       WHERE  X.STORE_CODE = T.STORE_CODE
                                              AND X.ITEM_CODE = T.ITEM_CODE
                                              AND ISNULL(X.BARCODE, '') = ISNULL(T.BARCODE, ''));
                /* =========================================================
               UPDATE EXISTING DATA
            ========================================================= */
                UPDATE T
                SET    T.ITEM_NAME           = X.ITEM_NAME,
                       T.ITEM_SHORTNAME      = X.ITEM_SHORTNAME,
                       T.SALES_PRICE         = CAST (ISNULL(X.SALES_PRICE, 0) AS INT),
                       T.DISC_PRICE          = CAST (ISNULL(X.DISC_PRICE, 0) AS INT),
                       T.DISC_PERCENT        = ISNULL(X.DISC_PERCENT, 0),
                       T.DISC_TEXT           = ISNULL(X.DISC_TEXT, ''),
                       T.MEMBER_PRICE        = CAST (ISNULL(X.MEMBER_PRICE, 0) AS INT),
                       T.SOH                 = CAST (ISNULL(X.SOH, 0) AS FLOAT),
                       T.EARLY_EXPIRY_DATE   = X.EARLY_EXPIRY_DATE,
                       T.PROD_WEIGHT         = CAST (ISNULL(X.PROD_WEIGHT, 0) AS INT),
                       T.MIN_QTY             = CAST (ISNULL(X.MIN_QTY, 0) AS INT),
                       T.MAX_QTY             = CAST (ISNULL(X.MAX_QTY, 0) AS INT),
                       T.PRODUCT_URL         = X.PRODUCT_URL,
                       T.DIVISION            = X.DIVISION,
                       T.DEPARTMENT          = X.DEPARTMENT,
                       T.CLASS               = REPLACE(REPLACE(X.CLASS, ',', ''), '  ', ' '),
                       T.SUBCLASS            = REPLACE(REPLACE(X.SUBCLASS, ',', ''), '  ', ' '),
                       T.BRAND               = X.BRAND,
                       T.CLASS_ROTATION      = X.CLASS_ROTATION,
                       T.NFC_URL             = X.NFC_URL,
                       T.CONSIGMENT          = X.CONSIGMENT,
                       T.RETURNABLE          = X.RETURNABLE,
                       T.EXPIRY_DAYS         = CAST (ISNULL(X.EXPIRY_DAYS, 0) AS INT),
                       T.DISPLAY_QTY         = CAST (ISNULL(X.DISPLAY_QTY, 0) AS INT),
                       T.LAST_UPDATED_DATE   = X.LAST_UPDATED_DATE,
                       T.SYNC_REC            = ISNULL(X.SYNC_REC, 0),
                       T.UOM                 = X.UOM,
                       T.PROMO_FLAG          = ISNULL(X.PROMO_FLAG, 0),
                       T.PER_GRM_PROMO_PRICE = ISNULL(X.PER_GRM_PROMO_PRICE, 0),
                       T.PER_GRM_SELL_PRICE  = ISNULL(X.PER_GRM_SELL_PRICE, 0),
                       T.PROMOTION_TYPE      = X.PROMOTION_TYPE,
                       T.CAMPAIGN_GROUP      = X.CAMPAIGN_GROUP,
                       T.PROMO_START_DATE    = X.PROMO_START_DATE,
                       T.PROMO_END_DATE      = X.PROMO_END_DATE,
                       T.PROMO_START_TIME    = X.PROMO_START_TIME,
                       T.PROMO_END_TIME      = X.PROMO_END_TIME,
                       T.REDLIST             = X.REDLIST,
                       T.SAVE_AMT            = CAST (ISNULL(X.SAVE_AMT, 0) AS INT)
                FROM   dbo.tb_ESL AS T WITH (ROWLOCK)
                       INNER JOIN
                       #tmpResult AS X
                       ON T.STORE_CODE = X.STORE_CODE
                          AND T.ITEM_CODE = X.ITEM_CODE
                          AND ISNULL(T.BARCODE, '') = ISNULL(X.BARCODE, '');
                /* =========================================================
               INSERT NEW DATA
            ========================================================= */
                INSERT INTO dbo.tb_ESL (
                    STORE_CODE,
                    ITEM_CODE,
                    BARCODE,
                    ITEM_NAME,
                    ITEM_SHORTNAME,
                    SALES_PRICE,
                    DISC_PRICE,
                    DISC_PERCENT,
                    DISC_TEXT,
                    MEMBER_PRICE,
                    SOH,
                    EARLY_EXPIRY_DATE,
                    PROD_WEIGHT,
                    MIN_QTY,
                    MAX_QTY,
                    PRODUCT_URL,
                    DIVISION,
                    DEPARTMENT,
                    CLASS,
                    SUBCLASS,
                    BRAND,
                    CLASS_ROTATION,
                    NFC_URL,
                    CONSIGMENT,
                    RETURNABLE,
                    EXPIRY_DAYS,
                    DISPLAY_QTY,
                    LAST_UPDATED_DATE,
                    SYNC_REC,
                    UOM,
                    PROMO_FLAG,
                    PER_GRM_PROMO_PRICE,
                    PER_GRM_SELL_PRICE,
                    PROMOTION_TYPE,
                    CAMPAIGN_GROUP,
                    PROMO_START_DATE,
                    PROMO_END_DATE,
                    PROMO_START_TIME,
                    PROMO_END_TIME,
                    REDLIST,
                    SAVE_AMT
                )
                SELECT X.STORE_CODE,
                       X.ITEM_CODE,
                       X.BARCODE,
                       X.ITEM_NAME,
                       X.ITEM_SHORTNAME,
                       CAST (ISNULL(X.SALES_PRICE, 0) AS INT),
                       CAST (ISNULL(X.DISC_PRICE, 0) AS INT),
                       ISNULL(X.DISC_PERCENT, 0),
                       X.DISC_TEXT,
                       CAST (ISNULL(X.MEMBER_PRICE, 0) AS INT),
                       CAST (ISNULL(X.SOH, 0) AS FLOAT),
                       X.EARLY_EXPIRY_DATE,
                       CAST (ISNULL(X.PROD_WEIGHT, 0) AS INT),
                       CAST (ISNULL(X.MIN_QTY, 0) AS INT),
                       CAST (ISNULL(X.MAX_QTY, 0) AS INT),
                       X.PRODUCT_URL,
                       X.DIVISION,
                       X.DEPARTMENT,
                       REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(ISNULL(LTRIM(RTRIM(X.CLASS)), ''), CHAR(13), ''), CHAR(10), ''), CHAR(9), ''), CHAR(160), ''), ',', ''), ';', '') AS CLASS,
                       REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(ISNULL(LTRIM(RTRIM(X.SUBCLASS)), ''), CHAR(13), ''), CHAR(10), ''), CHAR(9), ''), CHAR(160), ''), ',', ''), ';', '') AS SUBCLASS,
                       X.BRAND,
                       X.CLASS_ROTATION,
                       X.NFC_URL,
                       X.CONSIGMENT,
                       X.RETURNABLE,
                       CAST (ISNULL(X.EXPIRY_DAYS, 0) AS INT),
                       CAST (ISNULL(X.DISPLAY_QTY, 0) AS INT),
                       X.LAST_UPDATED_DATE,
                       ISNULL(X.SYNC_REC, 0),
                       X.UOM,
                       ISNULL(X.PROMO_FLAG, 0),
                       ISNULL(X.PER_GRM_PROMO_PRICE, 0),
                       ISNULL(X.PER_GRM_SELL_PRICE, 0),
                       X.PROMOTION_TYPE,
                       X.CAMPAIGN_GROUP,
                       X.PROMO_START_DATE,
                       X.PROMO_END_DATE,
                       X.PROMO_START_TIME,
                       X.PROMO_END_TIME,
                       X.REDLIST,
                       CAST (ISNULL(X.SAVE_AMT, 0) AS INT)
                FROM   #tmpResult AS X
                WHERE  NOT EXISTS (SELECT 1
                                   FROM   dbo.tb_ESL AS T
                                   WHERE  T.STORE_CODE = X.STORE_CODE
                                          AND T.ITEM_CODE = X.ITEM_CODE
                                          AND ISNULL(T.BARCODE, '') = ISNULL(X.BARCODE, ''))
                       AND X.SALES_PRICE > 0;
                COMMIT TRANSACTION;
            END TRY
            BEGIN CATCH
                IF @@TRANCOUNT > 0
                    ROLLBACK;
                PRINT 'FAILED processing store: ' + @varStoreCode;
                PRINT 'Error Number: ' + CAST (ERROR_NUMBER() AS VARCHAR (20));
                PRINT 'Error Line: ' + CAST (ERROR_LINE() AS VARCHAR (20));
                PRINT 'Error Message: ' + ERROR_MESSAGE();
                THROW;
            END CATCH
            -- Mark store as processed and move to next iteration
            UPDATE @StoreList
            SET    ProcessedFlag = 1
            WHERE  StoreCode = @varStoreCode;
            PRINT 'Finished processing store: ' + @varStoreCode;
            PRINT '';
        END -- Close WHILE loop
    -- ========== FINAL VALIDATION & BEFORE/AFTER COMPARISON ==========
    PRINT '';
    PRINT '=========================================';
    PRINT 'FINAL VALIDATION REPORT';
    PRINT '=========================================';
    PRINT '';
    -- Count records AFTER execution
    SELECT @tmpCountAfter = COUNT(*)
    FROM   dbo.tb_ESL
    WHERE  STORE_CODE IN ('075', '084');
    DECLARE @EndTime AS DATETIME = GETDATE();
    DECLARE @ElapsedSeconds AS INT = DATEDIFF(SECOND, @StartTime, @EndTime);
    PRINT 'AFTER EXECUTION:';
    PRINT 'Total records in tb_ESL for stores 075 & 084: ' + CAST (@tmpCountAfter AS VARCHAR (10));
    PRINT '';
    PRINT 'COMPARISON:';
    PRINT '  Baseline Count:    ' + CAST (@tmpCountBefore AS VARCHAR (10)) + ' records';
    PRINT '  Current Count:     ' + CAST (@tmpCountAfter AS VARCHAR (10)) + ' records';
    PRINT '  Records Added:     ' + CAST (@tmpCountAfter - @tmpCountBefore AS VARCHAR (10)) + ' records';
    PRINT '  Execution Time:    ' + CAST (@ElapsedSeconds AS VARCHAR (10)) + ' seconds';
    PRINT '';
    -- Detailed breakdown by store
    PRINT 'DETAILED BREAKDOWN BY STORE:';
    PRINT '';
    SELECT   STORE_CODE,
             COUNT(*) AS TotalItems,
             COUNT(DISTINCT ITEM_CODE) AS UniqueItems,
             SUM(CASE WHEN SYNC_REC = 1 THEN 1 ELSE 0 END) AS SyncedItems,
             SUM(CASE WHEN PROMO_FLAG = 1 THEN 1 ELSE 0 END) AS PromoItems,
             MAX(LAST_UPDATED_DATE) AS LatestUpdate
    FROM     dbo.tb_ESL
    WHERE    STORE_CODE IN ('075', '084')
    GROUP BY STORE_CODE
    ORDER BY STORE_CODE;
    PRINT '';
    PRINT 'CHECKING FOR DUPLICATES:';
    DECLARE @DuplicateCount AS INT;
    SELECT @DuplicateCount = COUNT(*)
    FROM   (SELECT   STORE_CODE,
                     ITEM_CODE,
                     BARCODE,
                     COUNT(*) AS DupCount
            FROM     dbo.tb_ESL
            WHERE    STORE_CODE IN ('075', '084')
            GROUP BY STORE_CODE, ITEM_CODE, BARCODE
            HAVING   COUNT(*) > 1) AS Dups;
    IF @DuplicateCount = 0
        PRINT 'No duplicates found. Data integrity OK!';
    ELSE
        PRINT 'WARNING: Found ' + CAST (@DuplicateCount AS VARCHAR (10)) + ' duplicate records!';
    PRINT '';
    PRINT '=========================================';
    PRINT 'RefreshESL_New Procedure Completed';
    PRINT 'End Time: ' + CONVERT (VARCHAR (20), @EndTime, 120);
    PRINT '=========================================';
    PRINT '';
    PRINT '';
    PRINT '=========================================';
    PRINT 'PATCH 2.5 PROMOTION PIPELINE SUMMARY';
    PRINT '=========================================';
    SELECT   STORE_CODE,
             RAW_CANDIDATE_ROWS,
             RAW_ACTIVE_ITEM_ROWS,
             RAW_CLR_ROWS,
             NORMALIZED_CANDIDATE_ROWS,
             UOM_EXCEPTION_ROWS,
             SELECTED_ITEM_UOM,
             CONFLICT_ITEM_UOM,
             RAW_EXTRACTION_SECONDS,
             NORMALIZATION_SECONDS
    FROM     #PROMO_STAGE_LOG
    ORDER BY STORE_CODE;
    PRINT '';
    PRINT '=========================================';
    PRINT 'PATCH 2.5 UOM EXCEPTION SUMMARY';
    PRINT '=========================================';
    SELECT   STORE_CODE,
             REASON,
             COUNT(*) AS ExceptionRows,
             COUNT(DISTINCT ITM_CD) AS ExceptionItems
    FROM     #PROMO_UOM_EXCEPTION_LOG
    GROUP BY STORE_CODE, REASON
    ORDER BY STORE_CODE, REASON;
    SELECT   STORE_CODE,
             CAMPAIGN_CODE,
             ITM_CD,
             CAMPAIGN_UOM,
             ACTUAL_UOM,
             REASON,
             LOGGED_AT
    FROM     #PROMO_UOM_EXCEPTION_LOG
    ORDER BY STORE_CODE, ITM_CD, CAMPAIGN_CODE;
    PRINT '';
    PRINT '=========================================';
    PRINT 'PATCH 2.5 PROMOTION REJECTION SUMMARY';
    PRINT '=========================================';
    SELECT   STORE_CODE,
             STAGE,
             REASON,
             COUNT(*) AS RejectedRows,
             COUNT(DISTINCT ITM_CD) AS RejectedItems
    FROM     #PROMO_REJECT_LOG
    GROUP BY STORE_CODE, STAGE, REASON
    ORDER BY STORE_CODE, STAGE, REASON;
    SELECT   STORE_CODE,
             STAGE,
             CAMPAIGN_CODE,
             ITM_CD,
             UOM,
             PROMOTION_TYPE,
             PROMO_PRICE,
             PROMO_PERCENT,
             REGULAR_PRICE,
             REASON,
             LOGGED_AT
    FROM     #PROMO_REJECT_LOG
    ORDER BY STORE_CODE, ITM_CD, STAGE, CAMPAIGN_CODE;
    PRINT '';
    PRINT '=========================================';
    PRINT 'PATCH 2.5 PROMOTION CONFLICT SUMMARY';
    PRINT '=========================================';
    SELECT   STORE_CODE,
             COUNT(*) AS ConflictItemUOMCount,
             SUM(CANDIDATE_COUNT) AS CandidateRowsInConflicts,
             SUM(CASE WHEN CONFLICT_CLASS = 'SAME_ECONOMIC_DIFFERENT_DISPLAY' THEN 1 ELSE 0 END) AS SameEconomicDifferentDisplay,
             SUM(CASE WHEN CONFLICT_CLASS = 'DIFFERENT_ECONOMIC_STATE' THEN 1 ELSE 0 END) AS DifferentEconomicState,
             MAX(UNIQUE_ECONOMIC_STATES) AS MaxUniqueEconomicStates,
             MAX(UNIQUE_DISPLAY_STATES) AS MaxUniqueDisplayStates,
             MAX(UNIQUE_OUTBOUND_STATES) AS MaxUniqueOutboundStates
    FROM     #PROMO_CONFLICT_LOG
    GROUP BY STORE_CODE
    ORDER BY STORE_CODE;
    SELECT   STORE_CODE,
             ITM_CD,
             UOM,
             CANDIDATE_COUNT,
             CAMPAIGN_COUNT,
             UNIQUE_ECONOMIC_STATES,
             UNIQUE_DISPLAY_STATES,
             UNIQUE_OUTBOUND_STATES,
             CONFLICT_CLASS,
             LOGGED_AT
    FROM     #PROMO_CONFLICT_LOG
    ORDER BY STORE_CODE, ITM_CD, UOM;
    DROP TABLE #PROMO_STAGE_LOG;
    DROP TABLE #PROMO_REJECT_LOG;
    DROP TABLE #PROMO_UOM_EXCEPTION_LOG;
    DROP TABLE #PROMO_UOM_EXCEPTIONS;
    DROP TABLE #PROMO_CONFLICT_LOG;
    DROP TABLE #PROMO_CONFLICTS;
    DROP TABLE #PROMO_SELECTED;
    DROP TABLE #PROMO_ITEMS;
    DROP TABLE #CAMPAIGN_DAY;
    DROP TABLE #PROMO_RAW;
    DROP TABLE #tmpResult;
END
SELECT   STORE_CODE,
         COUNT(*) AS RecordCount,
         COUNT(DISTINCT ITEM_CODE) AS UniqueItems,
         MAX(LAST_UPDATED_DATE) AS LatestUpdate,
         SUM(CASE WHEN SYNC_REC = 1 THEN 1 ELSE 0 END) AS SyncedItems
FROM     dbo.tb_ESL
WHERE    STORE_CODE IN ('075', '084')
GROUP BY STORE_CODE
ORDER BY STORE_CODE;